*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-transform: inherit;
}

html {
    font-size: 10px;
}

body {
    background-color: $V_L_Gray;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    font-size: 1.8rem;
}

::selection {
    background: $linearBack-1;
}