$Br_Blue: #3a7bfd;
$linearBack-1:#57ddff;
$linearBack-2:#c058f3;
// L_ Theme
$V_L_Gray: #fafafa;
$v_L_GrayishBlue: #e4e5f1;
$L_GrayishBlue: #d2d3db;
$D_GrayishBlue: #9394a5;
$V_D_GrayishBlue: #484b6a;
// D_ Theme
$V_D_Blue-d: #161722;
$V_D_DesaturatedBlue-d: #25273c;
$L_GrayishBlue-d: #cacde8;
$L_GrayishBlue-d-h: #e4e5f1; //(hover)
$D_GrayishBlue-d: #777a92;
$V_D_GrayishBlue-d-1: #4d5066;
$V_D_GrayishBlue-d-2: #393a4c;